body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: white;
    
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: larger;
    font-family: 'Franklin Gothic Medium';
    margin: 20px;
    
  }
  
  nav {
    padding: 10px;
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    box-sizing: border-box;
    background-color:rgb(133, 122, 95);
    color: white;
    position: sticky;
    

  }

  nav-links ul, li {
    flex: 1;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    box-sizing: border-box;
    text-align: center;
    color: white;
  }

  p {
    font-family: 'Lucida Sans';
    padding: 5px;
    font-size: medium;
    
  }

  form button, search button{
    cursor: pointer;
    color: black;
}


  footer {
    font-weight: bold;
    margin: -10px -10px;
    padding: 20px 30px 20px 50px;
    background-color: rgba(47, 160, 90, 0.825);
    color: rgb(133, 122, 95);
    height: 200px;
  }

  .div {
    width: 1px;
    margin: 0 auto;
    padding: 0px;
    overflow: hidden;
    position:absolute;

  }
  
  body {
    color: var(text-color);
    text-align: center;
    background-color: rgba(255, 217, 0, 0.404);
  }
  
::placeholder{
    color: black;
    font-size: 18px;
}
form input {
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  box-sizing: border-box;
  height: 100%;
  border: 0;
  outline: 0;
  font-size: 18px;
}